@import "utils/_mixin" ;

header{
    nav{ 
        
        margin: 10px;
        ul{ color: rgb(17, 16, 16);
            li{
               font-size: 25px;
               
                }
               
            }
        }
}
header{
    h1{
        
        @include titulos;
    }
}

body{
section{
    h2{ text-align: center;
        font-size: 65px;
        background-color: $color-principal;
        margin: 20px;
        p{ 
            font-size: 65px;    
            text-align: center;
            }

        }
    }
}

body{
    .aca{
        margin: 20px;
        text-align: center;
    }
}

body{
    p{
    font-size: 35px;
    text-align: center;
    background-color: $color-principal;
   
    
    }
}

.barra {
    text-align: center;
    font-size: 30px;
    background-color: $color-principal;
    margin: 20px;   
    legend{
        font-size: 45px;
        background-color: $color-principal;
        
    }
   }

#fotos-inicio{
    @include fotos;
    
    margin: 30px;
    }




div{
    .referencias{
        display: flex;
        justify-content: center;
    }
}

footer{
    background-color: $color-principal;
    display: flex;
    flex-direction: row;           
    justify-content: space-evenly;
    
    margin: 20px;       
    div{ background-color: $color-principal;
        ul{ 
            background-color: $color-principal;
            font-size: 25px;
            

            li{
                list-style-type: none;
                background-color: $color-principal;
                font-size: 30px;
                }
        }
    }
}

